#main{
    float: left;
    width: 40%;
    margin: 0 5%;
    background-color: blue;
}
#extras{
    float: left;
    width: 20%;
    margin: 0 5% 0 0;
    background-color: red;
}
#footer{
    clear:left;
    background-color: aqua;
}